@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {
    /*--breakpoint-mobile: 23rem;*/
    /*--breakpoint-desktop: 90rem;*/
}

:root {
    --color-bg-color: #fafafa;
    --color-elementColor: #2b3945;
    --color-text-color:	#111517;
    --color-input-color:	#858585
}


:root[data-theme='dark'] {
    --color-bg-color: #202c37;
    --color-elementColor: #ffffff;
    --color-text-color:#ffffff;
    --color-input-color: #f5f5f5;
    --color-navColor: #2b3945;
}

:root[data-theme='light'] {
    --color-bg-color: #fafafa;
    --color-elementColor: #2b3945;
    --color-text-color:	#111517;
    --color-input-color:	#858585;
    --color-navColor: #ffffff;

}


body {
  color: var(--color-text-color);
  background: var(--color-bg-color);
  font-family: Nunito Sans, serif;
}
