@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #23303e;
  --bright-yellow: #fad400;
  --grey-950: #19536b;
  --grey-400: #a7abae;
  --grey-600: #5a636c;
  --grey-550: #818498;
  --green-800: #25564b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Fraunces', serif;
  --font-mono: 'Barlow', sans-serif;
  --color-blue-text: var(--primary-blue);
  --color-bright-yellow: var(--bright-yellow);
  --color-grey-950: var(--grey-950);
  --color-grey-400: var(--grey-400);
  --color-grey-600: var(--grey-600);
  --color-grey-550: var(--grey-550);
  --color-green-800: var(--green-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-blue: #19536b;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.rounded-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.rounded-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -8px;
  height: 8px;
  width: calc(100% + 16px);
  border-radius: 9999px;
  z-index: -1;
}

.underlined-yellow::after {
  background-color: rgba(253, 210, 0, 0.2);
}

.underlined-yellow:hover::after {
  background-color: rgba(250, 212, 0);
}

.underlined-pink::after {
  background-color: rgba(254, 120, 103, 0.2);
}

.underlined-pink:hover::after {
  background-color: rgb(254, 120, 103);
}

.bg-custom-image {
  background-image: url('/desktop/image-graphic-design.jpg');
  height: 426px;
  width: 100%;
  /*background-size: contain;*/
  background-position: center;
  /*background-repeat: no-repeat;*/
}

.bg-custom-image-photography {
  background-image: url('/desktop/image-photography.jpg');
  height: 426px;
  width: 100%;
  background-size: cover;
  background-position: center;
  /*background-repeat: no-repeat;*/
}
